@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* ここから書く */

.wrapper {
  width: 400px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 100px;
  background-color: #141f40;
}

.header_item {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #fff;
}

.header_box {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #a9004b;
}

.header_box:first-child {
  margin-left: 0px;
}

.side {
  float: left;
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
}

.content {
  position: relative;
  float: right;
  width: 250px;
  height: 250px;
  background-color: #8c2727;
}

.content_item {
  position: absolute;
  top: 40px;
  left: 40px;
}

.content_box {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  border: 5px solid #fff;
  background-color: #ff863f;
  box-sizing: border-box;
}

.content_box:first-child {
  margin-top: 0px;
}

.footer {
  height: 100px;
  background-color: #d98d30;
}
